/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Merienda:wght@300..900&display=swap");

body {
  font-family: "Google Sans", sans-serif;

  .practo_logo {
    font-family: "Merienda", cursive;
  }
}

button {
  transition: all 0.3s ease;
}

input {
  outline: none;
}
