/* :root {
  --btnColor: #0a84ff;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

input,
button {
  transition: all 0.2s ease;
}
